<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Вход</button>
    </form>

    <div>
        Нет аккаунта? <a href="{% url 'authapp:register' %}">Регистрация</a>
    </div>


</body>
</html>