<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
    {% if user.is_authenticated %}
    {% csrf_token %}
        <h1>Здравствуйте, {{user.username}}</h1>

    <h2>Навигация по сайту</h2>
    <div>
        <a href="{% url 'authapp:user_info' pk=user.pk%}">Профиль</a>
    </div>

    <div>
        <a href="{% url 'shopapp:product_list' %}">Перейти к списку товаров</a>
    </div>

    <div>
        <a href="{% url 'shopapp:order_list' %}">Перейти к списку заказов</a>
    </div>
    {% else %}
        <div>
            <h1>Для дальнейшего пользования сайта, вам необходимо войти в аккаунт</h1>
        </div>
        <div>
            <a href="{% url 'authapp:login' %}">Вход</a>
        </div>
    {% endif %}
</body>
</html>