<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление профиля</title>
</head>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Обновить</button>
        </form>
    </div>

    <div>
        <a href="{% url 'authapp:user_info' pk=object.pk %}">Вернуться</a>
    </div>

</body>
</html>