<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>

    <div>
        Есть аккаунт? <a href="{% url 'authapp:login' %}">Вход</a>
    </div>
</body>
</html>