<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Информация</h2>
        <p>Имя пользователя: {{user.username}}</p>
        <p>Возраст: {{user.profile.age}}</p>
        <p>Email: {{user.profile.email}}</p>
        <p>Описание: {{user.profile.bio}}</p>
        <a href="{% url 'authapp:logout' %}">Выход из аккаунта</a>
    {% else %}
        <h2>Пользователь не найден</h2>
        <p>
            <a href="{% url 'authapp:user_login' %}">Вход</a>
        </p>
    {% endif %}

    <div>
        <a href="{% url 'authapp:user_update' pk=object.pk %}">Обновить профиль</a>
    </div>

    <div>
        <a href="{% url 'authapp:main_menu' %}">Вернуться в меню</a>
    </div>

</body>
</html>