<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
    <h1>Войдите, чтобы начать пользование сайтом</h1>

    <div>
        <a href="{% url 'authapp:login' %}">Вход</a>
    </div>
</body>
</html>