<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить заказ</title>
</head>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Обновить</button>
        </form>
    </div>

    <div>
        <a href="{% url 'shopapp:order_detail' pk=object.pk %}">
            Вернуться к заказу № {{object.pk}}
        </a>
    </div>

</body>
</html>