<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали заказа</title>
</head>
<body>
    <h1>Заказ №{{object.pk}}</h1>
    <div>
        <p>Заказ сделан пользователем: {{object.user.username}}</p>
        <p>Адрес доставки: {{object.delivery_address}}</p>
        <div>
            Продукты в заказе
        </div>
        <ul>
            {% for product in object.products.all %}
                <li>{{product.name}}: {{product.price}}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <a href="{% url 'shopapp:order_list' %}">Вернуться к списку заказов</a>
    </div>

    <div>
        <a href="{% url 'shopapp:order_update' pk=object.pk %}">Обновить заказ</a>
    </div>

</body>
</html>