<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
</head>
<body>
    <h1>Заказы</h1>
    {% if object_list %}
        <div>
            {% for order in object_list %}
                <h2>
                    <a href="{% url 'shopapp:order_detail' pk=order.pk %}">
                        Заказ № {{order.pk}}
                    </a>
                </h2>
            {% endfor %}
        </div>
    {% else %}
        <h3>Список заказов пуст</h3>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:order_create' %}">Создать новый заказ</a>
    </div>

    <div>
        <a href="{% url 'shopapp:product_list' %}">Перейти к списку товаров</a>
    </div>

    <div>
        <a href="{% url 'authapp:main_menu' %}">Вернуться в меню</a>
    </div>

</body>
</html>