<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
    <h1>Товары</h1>
    {% if products %}
        <div>
            {% for product in products %}
                <p>
                    Товар: <a href="{% url 'shopapp:product_detail' pk=product.pk %}">{{product.name}}</a>
            {% endfor %}

        </div>
    {% else %}
        <h1>Список продуктов пуст</h1>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:product_create' %}">Создать новый продукт</a>
    </div>

    <div>
        <a href="{% url 'shopapp:order_list' %}">Перейти к списку заказов</a>
    </div>

    <div>
        <a href="{% url 'authapp:main_menu' %}">Вернуться в меню</a>
    </div>

</body>
</html>