<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление товара</title>
</head>
<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Обновить</button>
        </form>
    </div>
    <a href="{% url 'shopapp:product_detail' pk=object.pk %}">Вернуться к товару №{{ object.pk }}</a>
</body>
</html>