<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали товара № {{ product.pk }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <div>
        Описание: {{ product.description }}
    </div>
    <div>
        Цена: {{ product.price }}
    </div>
    <div>
        Скидка: {% firstof product.discount '0' %}
    </div>

    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}">Обновить товар</a>
    </div>

    <div>
        <a href="{% url 'shopapp:product_list' %}">Вернуться к списку продуктов</a>
    </div>

</body>
</html>