<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание нового продукта</title>
</head>
<body>

    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Создать</button>
        </form>
    </div>

    <div>
        <a href="{% url 'shopapp:product_list' %}">Вернуться к списку продуктов</a>
    </div>
</body>
</html>